{% extends 'basic_app/base.html' %}

{% block content %}
    <h1>Vehicle</h1>

    <form method="POST" class="post-form" enctype='multipart/form-data'>
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="save btn btn-default">Go</button>
    </form>
    <!--or-->
    <!--<form method="POST" class="post-form">-->
    <!--{% csrf_token %}-->
    <!--<input type="text">-->
    <!--<button type="submit" class="save btn btn-default">Save</button>-->
    <!--</form>-->
    <script>var editor = new MediumEditor('.editable');</script>

{% endblock %}
